html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*{
  box-sizing: border-box;
}
/* чтобы скрыть горизонтальную прокрутку, после создания адаптивного меню */
html,body{
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* padding-bottom: 20px; - решение чтобы появилась тень в .header-bottom  */
body {
  line-height: 1;
  font: "Source Sans Pro";
  padding-bottom: 20px;
  color:#302d2d;
  position: relative;
}
a{
	text-decoration: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
	font-weight: 700;
	font-size: 62px;
}
.def-title-wrapper{
  max-width: 470px;
  margin: 0 auto 45px auto;
  text-align: center;
}
.def-title-wrapper .def-description{
  font-weight: 300;
}
.def-title{
  font-size: 46px;
  line-height: 55px;
  margin-bottom: 20px;  
}
.def-title .title-bold{
  font-weight: 700;
  color:#2378c9;
}
strong{
  font-weight: 700;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Header Start */
.header-top {
  background-color: rgba(35, 120, 201, 1);
  padding: 14px 0;
}
.header-top-row {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
}
.header-top-row a {
  color: #fff;
}
.header-top-location {
  display: flex;
  align-items: center;
}
.header-top-location img {
  margin-right: 14px;
}
.header-top-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-top-phone{
	margin-right: 40px;
}
.header-top-email{
	margin-right: 55px;
}
.header-top-phone,
.header-top-email {
	display: flex;
	align-items: center;
	/* text-decoration: none; */
}
.header-top-phone img,
.header-top-email img{
	margin-right: 14px;
}
.header-top-social{
	display: flex;
	align-items: center;
}
.header-top-social a:nth-last-child(n+2){
	margin-right: 30px;
}
.header-top-social a img{
	max-width: 22px;
}
.header-top-social a:hover{
	transition: 0.3s ease;
	transform: rotate(360deg);
}
.header-bottom{
  padding: 20px 0;
  box-shadow: 1px 2px 2px -1px rgba(48, 44, 44, 0.18);
}
.header-bottom-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo img{
  max-width: 172px;
  /* max-height: ; */
}
.menu-nav ul{
  display: flex;
  align-items: center;
  
}
.menu-nav ul li:nth-last-child(n+2){
  margin-right: 39px;
}
.menu-nav ul li a{
  color: #302d2d;
  font-size: 18px;
}
.menu-nav ul li a:hover{
  color:#2378c9;
  transition: 0.3s ease;
}
.header-bottom-btn{
  background-color: #f86d6d;
  color: #ffffff;
  padding: 17px 28px;
  border-radius: 26px;
  font-size: 14px;
  text-align: center;
  transition: 0.3s ease;
}
.header-bottom-btn:hover{
  background-color: #E25E5E;
}
.hamburger{
  margin-left: auto;
  cursor: pointer;
}
.hamburger img{
  width: 30px;
}
.mobile-menu{
  background-color: rgba(14, 110, 170, 1);
  box-shadow: -2px 4px 4px 3px rgba(49, 46, 46, 0.09);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  /* display: none; */
  transition: 0.5s ease;
  transform: translateX(110%);
  z-index: 12;
}
.mobile-menu.is-active{
  transform: none;
}
.mobile-menu-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 22px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
}
.mobile-menu-header::after{
  content: '';
  height: 1px;
  width: calc(100% + 40px);
  background-color: #fff;
  display: block;
  background-color: 1px solid rgba(217, 214, 214, 0.56);
  position: absolute;
  bottom: 0;
  left: -20px;
}
.mobile-menu-body{
  text-align: center;
}
.mobile-menu-body a{
  color: #fff;
}
.mobile-menu-body .header-top-phone,
.mobile-menu-body .header-top-email,
.mobile-menu-body .header-top-social{
  justify-content: center;
  margin-right: 0;
  margin-bottom: 30px;
}
.mobile-menu-nav{
  margin-top: 50px;
}
.mobile-menu-nav li{
  margin-bottom: 30px;
}
/* Header End */

/* Banner Start */
.s-banner {
	background-color: #0E6EAA;
	color: #fff;
}
.banner-row {
	display: flex;
	align-items: center;
}
.banner-subtitle {
	font-size: 14px;
	color: #C5C1FE;
	position: relative;
	margin-bottom: 10px;
}
.banner-subtitle::before {
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: calc(-100% - 16px);
	background-color: #C5C1FE;
}

.banner-title {
	font-size: 62px;
	margin-bottom: 20px;
}
.banner-description {
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 25px;
}
.banner-btn {
	background-color: #5EB8F0;
	padding: 18px 44px;
	border-radius: 28px;
	display: inline-block;
	color: #fff;
	font-size: 18px;
	text-align: center;
}
.banner-left {
	max-width: 485px;
}

.banner-right {
	position: relative;
	margin-left: auto;
	margin-right: 154px;
}
.banner-logo {
	position: absolute;
	top: 175px;
	right: -90px;
	max-width: 340px;
	width: 100%;
}
.banner-image {
	max-width: 483px;
	width: 100%;
	position: relative;
  z-index: 1;
}
.banner-circle {
	width: 218px;
	height: 22px;
	display: block;
	background-color: #fff;
	box-shadow: 0px 4px 133px 239px rgba(255, 255, 255, 0.1);
	position: absolute;
	top: 330px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 100%;
}
/* Banner End */

/* About Start */
.s-about{
  padding: 110px 0;
}
.about-row{
display: flex;
align-items: center;
column-gap:60px ;

}
.about-left img{
max-width: 488px;
}
.about-right{
  max-width: 680px;
}
.about-right .def-title{
  text-align: left;
}

.about-description{
  font-size: 18px;
  color: #6b6868;
  line-height: 28px;
  margin-bottom: 22px;

}
.about-list-title{
  font-size: 18px;
  margin-bottom: 18px;
}
.about-list-wrap ul{
  column-count: 2;
}
.about-list-wrap ul li{
  font-size: 20px;
  margin-bottom: 20px;
}
.about-list-wrap ul li::before{
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #2378c9;
  margin-right: 22px;
}
/* About End */

/* Features Start */
.s-features{
  background-color: rgba(223, 238, 252, 1);
  padding: 94px 0;
}
.features-row{
  display: flex;
  justify-content: space-between;
  column-gap: 70px;
}
.features-item{
  text-align: center;
  width: 33.33%;
  margin: 0 auto;
}
.features-icon{
  margin-bottom: 25px;
}
.features-icon img{
  max-width: 99px;
}
.features-title{
  font-size: 24px;
  max-width: 300px;
  margin: 0 auto 15px;
  line-height: 1.3;
}
.features-description{
  color:rgba(86, 86, 94, 1);
  font-size: 18px;
  line-height: 1.3;
}
/* Features End */

/* Specialists Start */
.s-specialists{
  padding: 90px 0;
}

.specialists-row{
  display: flex;
  column-gap: 20px;
}
.specialists-item{
  width: 25%;
  border-radius: 20px;
  box-shadow: 0px 0px 8px -1px rgba(29, 28, 28, 0.28);
  overflow: hidden;
  display: block;
  background-color: #2378c9;
}
.specialists-image img{
  width: 100%;
}
.specialists-footer{
  padding: 22px 24px;
  color: #fff;
}
.specialists-name{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 7px;
}
.specialists-profi{
  font-size: 14px;
}

/* Specialists End */

/* Price Start */
.s-price {
	padding: 75px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(257.92deg, #DFEEFC 11.01%, rgba(167, 210, 251, 0.92) 92.77%);
	position: relative;
}
.s-price::after {
	content: '';
	background-image: url('../img/price-image.png');
	background-size: 100% 100%;
	width: 731px;
	height: 731px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
.s-price .def-title {
	margin-bottom: 5px;
}
.s-price .def-title-wrapper {
	margin-bottom: 70px;
}
.price-wrap {
	background-color: #5EB8F0;
	border-radius: 20px;
	padding: 50px 60px;
	display: inline-block;
	color: #fff;
	position: relative;
	z-index: 1;
}
.price-list-wrap li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px dashed #fff;
	padding-bottom: 15px;
}
.price-list-wrap li:nth-last-child(n+2) {
	margin-bottom: 28px;
}
.price-list-wrap li span:last-child {
	font-weight: 700;
}
/* Price End */

/* News Start */
.s-news {
	padding: 100px 0;
}
.news-row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.news-item {
	padding: 15px 15px 50px 15px;
	background-color: #F6F6F6;
	border-radius: 20px;
	position: relative;
}
.news-thumb {
	border-radius: 19px;
	overflow: hidden;
	margin-bottom: 25px;
}
.news-thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.news-body {
	padding: 0 15px 15px 15px;
}
.news-top-line {
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #A9A9A9;
	font-size: 14px;
}
.news-top-line strong {
	color: #302D2D;
}
.news-title {
	font-size: 22px;
	line-height: 1.2;
	margin-bottom: 16px;
}
.news-title a {
	color: #302D2D;
}

.news-description {
	color: #56565E;
	margin-bottom: 25px;
	line-height: 1.3;
}
.news-readmore {
	background-color: #5EB8F0;
	border-radius: 30px;
	font-size: 18px;
	display: block;
	width: calc(100% - 60px);
	text-align: center;
	padding: 15px;
	color: #fff;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
/* News End */

  /* Reviews Start */
  .s-reviews {
    padding: 90px 30px;
    position: relative;
  }
  .s-reviews::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(50, 48, 48, 0.39);
  }
  .reviews-wrap {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 55px 30px 70px 30px;
    position: relative;
    z-index: 1;
  }
  .s-reviews .def-title {
    text-align: center;
    margin-bottom: 60px;
  }
  .reviews-row {
    display: flex;
    max-width: 780px;
    margin: 0 auto;
  }
  .reviews-row::after{
    content: '';
    background-image: url('../img/quote.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 84px;
    height: 64px;
    display: block;
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 55px;
  }
  .reviews-avatar {
    border-radius: 100%;
    min-width: 240px;
    height: 240px;
    overflow: hidden;
    margin-right: 42px;
  }
  .reviews-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .reviews-text {
    color: #6B6868;
    font-size: 18px;
    margin-bottom: 35px;
    line-height: 1.6;
  }
  .reviews-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .reviews-name {
    font-size: 30px;
    color: #2378C9;
    font-weight: 700;
  }
  .reviews-social {
    display: flex;
    align-items: center;
  }
  .reviews-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #E7E7E7;
    text-align: center;
    transition: background-color 0.5s ease;
  }
  .reviews-social a:nth-last-child(n+2) {
    margin-right: 20px;
  }
  .reviews-social a:hover {
    background-color: #2378C9;
  }
  .reviews-social a svg {
    visibility: visible;
  }
  .reviews-social a svg path {
    transition: fill 0.5s ease;
  }
  .reviews-social a:hover svg path {
    fill: #fff;
  }
  
  .reviews-swiper {
    overflow: visible;
  }
  .s-reviews .swiper-button-prev,
  .s-reviews .swiper-button-next {
    color: #fff;
    background-color: #C5C1FE;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    transform: translateY(-50%);
  }
  .s-reviews .swiper-button-prev {
    left: -60px;
  }
  .s-reviews .swiper-button-next {
    right: -60px;
  }
  .s-reviews .swiper-button-next:after, 
  .s-reviews .swiper-button-prev:after {
    font-size: 24px;
    font-weight: 900;
  }
  .s-reviews .swiper-slide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }
  .s-reviews .swiper-slide-active {
    opacity: 1;
    visibility: visible !important;
  }
  /* Reviews Start */

/* Responsive start */
@media screen and (min-width:992px) {
  .hamburger{
    display: none;
  }
  
}
@media screen and (max-width:1200px) {
  .menu-nav ul li:nth-last-child(n+2){
    margin-right: 20px;
  }
  .about-row{
    column-gap:30px;
  }
}
@media screen and (max-width: 992px) {
  /* Header 992 Start */
	.header-top-right,
	.menu-nav {
		display: none;
	}
  /* Header 992 End */

	h1 {
		font-size: 40px;
	}
  .def-title {
    font-size: 40px;
    line-height: 48px;
  }
  .def-description{
    font-size: 14px;
    line-height: 1.5;
  }
  /* Banner 992 Start */
	.s-banner {
		padding-top: 40px;
		padding-bottom: 35px;
	}
	.banner-left {
		margin-bottom: 30px;
	}
	.banner-row {
		flex-direction: column;
		position: relative;
	}
	.banner-title {
		font-size: 40px;
	}
	.banner-description {
		font-size: 16px;
	}
	.banner-btn {
		position: absolute;
		bottom: -20px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		white-space: nowrap;
	}

	.banner-right {
		margin-right: auto;
	}
	.banner-circle {
		width: 50px;
	}
	.banner-image {
		max-width: 330px;
		left: -20px;
	}
	.banner-logo {
		top: 100px;
	}
   /* Banner 992 End */

   /* About 992 Start */
   .s-about{
    padding: 48px 0;
   }
   .about-left{
    width: 100%;
    margin-bottom: 48px;
   }
   .about-left img{
    max-width: none;
    width: 100%;
   }
   .about-row{
    flex-direction: column;
    align-items: flex-start;
   }

   .about-description{
    font-size: 16px;
   }
   .about-list-wrap ul li{
    font-size: 16px;
   }
   /* About 992 End */

   /* Features 992 Start */
   .features-row{
    flex-wrap: wrap;
    column-gap: 0;
   }
   .features-item{
    width: 45%;
    margin-bottom: 40px;
   }
   /* Features 992 End */

   /* Specialists 992 Start */
   .s-specialists{
    padding: 50px 0;
   }
   .specialists-row{
    flex-wrap: wrap;  
    column-gap: 0;  
    justify-content: space-between;
   }
   .specialists-item{
    width: 48.5%;
    margin-bottom: 18px;
   }
   /* Specialists 992 End */

   /* News 992 Start */
   .s-news {
		padding: 50px 0;
	}
	.s-news .def-title {
		margin-bottom: 0;
	}
	.s-news .def-title-wrapper {
		margin-bottom: 30px;
	}
	.news-row {
		grid-auto-flow: column;
		overflow-x: auto;
		width: calc(100% + 20px);
		padding-right: 20px;
	}
	.news-item {
		min-width: 300px;
	}
   /* News 992 End */

  @media screen and(max-width:768px) {
    /* Reviews 768 Start */
    .reviews-wrap{
      padding: 55px 30px 70px 30px;
    }
    .reviews-row{
      display: block;
    }
    .reviews-avatar{
      min-width: 200px;
      max-width: 200px;
      height: 200px;
      margin: 0 auto 24px auto;
    }
    .reviews-text{
      font-size: 14px;
      margin-bottom: 20px;
    }
    .reviews-name{
      font-size: 18px;
    }
    /* Reviews 768 End */
  }


}
@media screen and (max-width:576px) {
  .def-title {
    font-size: 20px;
    line-height: 38px;
  }

  /* Header 576 Start */
  .header-top-location{
    font-size: 12px;
    margin-right: 15px;
  }
  .header-logo{
    margin-right: 20px;
  }
  .header-logo img{
    max-width: 120px;
  }
  .header-bottom-btn{
    padding: 15px;
    font-size: 12px;
  }
  /* Header 576 End */

  /* About 576 Start */
  .about-description{
    font-size: 14px;
  }
  .about-list-title{
    font-size: 16px;
  }
  .about-list-wrap ul li{
    font-size: 14px;
  }
  .about-list-wrap ul li::before{
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }
  /* About 576 End */

  /* Features 576 Start */
  .s-features{
    padding: 55px 0;
  }
  .features-row{
    flex-direction:column;
  }
  .features-item{
    width: 100%;
    max-width: 284px;
  }
  .features-icon img{
    max-width: 85px;
  }
  .features-title{
    font-size: 20px;
  }
  .features-description{
    font-size: 15px;
  }
  /* Features 576 End */

  /* Specialists 576 Start */
  .specialists-item{
    border-radius: 10px;
  }
  .specialists-footer{
    padding: 15px;
  }
  .specialists-name{
    font-size: 16px;
  }
  .specialists-profi{
    font-size: 12px;
  }
  /* Specialists 576 End */

  /* Price 576 Start */
  .s-price {
		padding: 50px 0;
	}
	.s-price::after {
		display: none;
	}
	.s-price .def-title {
		font-size: 22px;
	}
	.s-price .def-title-wrapper {
		margin-bottom: 50px;
	}
	.def-title-wrapper .def-description {
		font-size: 12px;
	}
	.price-wrap {
		width: 100%;
		padding: 40px 30px;
		border-radius: 10px;
	}
	.price-list-wrap li {
		font-size: 12px;
	}
	.price-list-wrap li:nth-last-child(n+2) {
		padding-bottom: 5px;
	}
  /* Price 576 End */

  /* News 576 Start */
  .news-item {
		border-radius: 10px;
		padding: 10px 10px 50px 10px;
	}
	.news-readmore {
		width: calc(100% - 32px);
	}
	.news-body {
		padding: 0 8px 8px 8px;
	}
	.news-title {
		font-size: 20px;
	}
	.news-thumb {
		border-radius: 10px;
	}
	.news-description {
		font-size: 14px;
		line-height: 18px;
	}
	.news-readmore {
		font-size: 16px;
		padding: 14px;
	}
  /* News 576 End */

  /* Reviews 576 Start */
  .s-reviews {
    padding: 50px 0;
  }
  .reviews-wrap{
    padding: 30px 20px;
  }
  .s-reviews .def-title{
    margin-bottom: 30px;
  }
  .s-reviews .swiper-button-prev,
  .s-reviews .swiper-button-next{
    min-width: 50px;
    height: 50px;
  }
  .s-reviews .swiper-button-prev{
    left: -30px;
  }
  .s-reviews .swiper-button-next{
    right: -30px;
  }
  /* Reviews 576 End */
}
/* Responsive end */